body {
    background: #FEF5EF!important;
}

.bg-light {
    background-color: #FEF5EF !important;
}

.navbar-brand {
    padding-left: 10px;
}

.image-container {
    height: 500px;
    background-color: #FEF5EF;
    background-image: url(images/pexels-anastasia-shuraeva-5126456.jpg); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}


/* .header-image {
    background-image: url(images/); 
    height: 100%; 
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.osa-container {
    height: 300px;
    width: 300px;
    margin: 20px;
    background-color: #f9d5bd;
    border-radius: 50%;
    
} 

.image-container2 {
    height: 800px;
    background-image: url(images/högakusten1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}