body {
    background: #FEF5EF!important;
}

.bg-light {
    background-color: #FEF5EF !important;
}

.navbar-brand {
    padding-left: 10px;
}

.navbar-sticky {
    position: sticky;
    top: 0;
    z-index: 1000; /* Adjust the z-index as needed */
}

.navbar-nav .nav-link {
    margin-right: 50px; /* Adjust the margin as needed */
}

.image-container {
    height: 400px;
    background-color: #FEF5EF;
    /* background-image: url(images/högakusten1.jpg);  */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}


.welcome {
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 50px;
}


.bokacontainer {
    height: 200px;
    width: 200px;
    margin: 50px;
    background-color: #f9d5bd;
    border-radius: 50%;
    
} 

.btn-primary {
    color: #fff;
    background-color: #f9d5bd;
    border-color: #f9d5bd;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background-color: #FEF5EF;
}

.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgb(246 213 188);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.image-container2 {
    height: 800px;
    background-image: url(images/högakusten1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.image-container3 {
    height: 800px;
    background-image: url(images/högakusten1.jpg);
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hotell-container {
    padding-bottom: 40px;
}

.kuvert {
    background-color: #A8BDA2;
}

.kuvert-container {
    background-color: #A8BDA2;
    padding-bottom: 40px;
    margin-top: 0;
}